{deps, [
  {buoy, ".*",
    {git, "https://github.com/lpgauth/buoy.git", {tag, "0.2.2"}}},
  % {dlhttpc, ".*",
  %   {git, "https://github.com/lpgauth/dlhttpc.git", {branch, "fix_dialyzer"}}},
  {hackney, ".*",
    {git, "https://github.com/benoitc/hackney.git", {tag, "1.17.4"}}},
  % {ibrowse, ".*",
  %   {git, "https://github.com/cmullaparthi/ibrowse.git", {tag, "v4.4.0"}}},
  {ehttpc, ".*", {git, "https://github.com/emqx/ehttpc", {tag, "0.1.11"}}},
  {timing, ".*",
    {git, "https://github.com/lpgauth/timing.git", {branch, "master"}}}
]}.
